/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
}
a:hover {
    color: #E84444;
}
/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */
html {
    background: url(../img/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}
body {
    height: 100%;
}
body * {
    font: 16px/26px 'Khula', Helvetica Neue, Arial;
    color: #222;
    font-weight: 400;
}
.bg {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.9);
}
h1 {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 10px;
    line-height: 45px;
}
h2 {
    font-size: 20px;
    font-weight: 300;
}

.wrapper {
    width: 100%;
    max-width: 800px;
    margin: 10% auto;
    text-align: center;
}

#me img {
    border-radius: 300px;
    width: 130px;
    border: 4px solid #222;
}
#contacts {
    margin-top: 30px;
}
#contacts li {
    display: inline-block;
    margin: 7px;
}
#contacts li a {
    padding: 10px;
}
#contacts li a:hover i {
    color: #E84444;
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 35px;
        line-height: 30px;
    }
    h2 {
        font-size: 17px;
    }
    #contacts li {
        display: block;
        margin: 12px;
    }
}